.quote{
    font-size: 3rem;
    border-radius:10%

}
.quote:hover{
    background-color: slategrey;
    color:white
}
.containerBtn{
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:start;
    justify-content: center;
    text-align: center;
    background-image: url("../images/kanyeA.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}

.quoteContainer{
    padding-top:4rem;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    font-size:30px;
    font-family:cursive;
}